__pycache__/frame_extractor.cpython-310.pyc
__pycache__/main_2.cpython-310.pyc
__pycache__/main.cpython-310.pyc
__pycache__/search_service.cpython-310.pyc
vids/1.mp4
vids/2.mp4
vids/3.mp4
vids/4.mp4
vids/5.mp4
vids/6.mp4
vids/7.mp4
vids/8.mp4
vids/9.mp4
vids/10.mp4
vids/11.mp4
vids/12.mp4
vids/13.mp4
.env
